<!DOCTYPE html>
<html>
	<head>
		<title>Secret Hitler!</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r74/three.js"></script>
		<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/ColladaLoader.js"></script>
		<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
		<script src="https://sdk.altvr.com/libs/altspace.js/0.24.3/altspace.min.js"></script>
		<!--script src="{{basePath}}/static/js/altspace.js"></script-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
		<script src="{{basePath}}/static/socket.io/socket.io.min.js"></script>
		<script src="https://rawgit.com/stevenvergenz/altspace-diorama/development/dist/diorama.js"></script>
		<!--script src='{{basePath}}/static/js/diorama.js'></script-->
		<script src='{{basePath}}/static/js/secrethitler.js'></script>
	</head>
	<body>
		<script>
			var d = new Diorama({gridOffset: [1.5, -1.5, 1.5]});
			d.start(SecretHitler);
		</script>
	</body>
</html>
