<!DOCTYPE html>
<html>
	<head>
		<title>Secret Hitler!</title>
		{{^localLibs}}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>
			<script src="https://cdn.rawgit.com/mrdoob/three.js/r84/examples/js/loaders/ColladaLoader.js"></script>
			<script src="https://cdn.rawgit.com/mrdoob/three.js/r85/examples/js/loaders/GLTFLoader.js"></script>
			<script src="https://sdk.altvr.com/libs/altspace.js/2.4.5/altspace.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
			<script src="https://cdn.rawgit.com/stevenvergenz/altspace-diorama/c25d476/dist/diorama.min.js"></script>
		{{/localLibs}}
		{{#localLibs}}
			<script src='{{basePath}}/static/lib/three.r84.js'></script>
			<script src='{{basePath}}/static/lib/ColladaLoader.r84.js'></script>
			<script src='{{basePath}}/static/lib/GLTFLoader.r85.js'></script>
			<script src="{{basePath}}/static/lib/altspace.245.js"></script>
			<script src='{{basePath}}/static/lib/diorama.c25d476.js'></script>
		{{/localLibs}}
		<script src="{{basePath}}/static/socket.io/socket.io.min.js"></script>
		<script src='{{basePath}}/static/js/secrethitler.js'></script>
	</head>
	<body>
		<script>
			var d = new Diorama({gridOffset: [1.5, -1.5, 1.5]});
			d.start(SecretHitler);
		</script>
	</body>
</html>
